.contact{
    margin-top: 220px;
    margin-bottom: 250px;
}
.contact h1{
    margin-bottom: 75px;
}
.contact-txt p{
    margin-bottom: 25px;
}
.contact-txt .go-link a{
    color: rgb(113, 173, 241);
    text-decoration: underline dotted green;
}
@media screen and (max-width: 480px) {
    .contact h1{
        font-size: 1.1875rem;
        margin-bottom: 60px;
    }
    .contact-txt{
        font-size: 1rem;
    }
}