.main-content.cv{
    margin-bottom: 250px;
}
.cv-wrap{
    font-size: 17px;
    line-height: 24px;
    position: relative;
    font-weight: 300;
}
.cv-wrap .cv-title{
    margin-bottom: 10px;
    font-weight: 500;
}
.cv-wrap li{
    margin-bottom: 8px;
}
.cv-wrap > div{
    margin-bottom: 50px;
}

@media screen and (max-width: 520px) {
    .cv-wrap{
        font-size: 12px;
        line-height: 20px;
    }
}