*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-color: #fff; font-family: Inter Tight;}
li{list-style: none;}
a{text-decoration: none;}
a, p, span, h1, h2, h3, h4, h5, h6, button{color: #333; font-family: Inter Tight;}
button{border: none; background-color: transparent; cursor: pointer;}
img{display: block; width: 100%;}
.flex{display: flex;}
.grid{display: grid;}
.mo{display: none;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.items-center{align-items: center;}
.items-end{align-items: end;}
.inner{padding-left: 3.125rem; padding-right: 3.125rem;}
header{
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    margin: 2.5rem 0;
    z-index: 99;
    mix-blend-mode: difference;
    isolation: isolate;
}
header .logo h2{
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #ccc;
}
header .menu{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
}
header .menu li{
    margin-left: 30px;
}
header .menu li a{
    color: #ccc;
}
.open-menu, .close-menu{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    color: #ccc;
}
header .mobile-menu{
    text-align: right;
}
header .mobile-menu a{
    font-size: 1.875rem;
    line-height: 2.25rem;
    /* font-weight: 500; */
    color: #ccc;
}
.open-menu:hover, .mo-menu .close-menu:hover{
    /* color: rgb(113, 173, 241); */
    color: #8b4e08;
}
.mo-menu .close-menu{
    display: none;
    margin-bottom: 5px;
    color: #ccc;
}
.video-container{
    top: 0;
    opacity: 0.7;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: fixed;
}
.video-container video{
    width: 100%;
    object-fit: cover;
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, white);
    pointer-events: none; 
}

.mobile-menu{
    display: none;
}
.mobile-menu li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mobile-menu li a:hover{
    /* color: rgb(113, 173, 241); */
    color: #8b4e08;
}

.main-content{
    margin-top: 170px;
    margin-bottom: 200px;
    background-color: #fff;
}


/* ν‘Έν„° */
.footer{
    width: 100%;
    padding-bottom: 125px;
    z-index: 100;
    position: absolute;
}
@media  (max-width: 1024px) {
    .mo{
        display: block;
    }
    .menu{display: none;
    }
    .mo-menu{
        position: absolute;
        top: 10px;
        right: 1.875rem;
    }
    .inner{
        padding-left: 1.875rem; padding-right: 1.875rem;
    }
    header .logo h2 {
        font-size: 1.5rem;
    }
    .open-menu, .close-menu, header .mobile-menu a{
        font-size: 1.5rem;
    }
}
@media  (min-width: 1025px) {
    .inner{
        padding-left: 6.25rem; padding-right: 6.25rem;
    }
    header{
        padding-left: 6.25rem; padding-right: 6.25rem;
    }
}
@media screen and (max-width: 480px) {
    header .logo h2 {
        font-size: 1.1875rem;
    }
    .open-menu, .close-menu, header .mobile-menu a{
        font-size: 1.1875rem;
    }
}