
/* 메인 */
.work-list-wrapper{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: .625rem;
    column-gap: .625rem;
}
.grid-item{
    position: relative;
}
.grid-item_imglink{
    height: 100%;
    display: flex;
    align-items: center;
}
.grid-item:hover .work-img{
    opacity: 50%;
}
.grid-item:hover .caption-text{
    display: block;
}
.caption-text{
    display: none;
    position: absolute;
    left: 20px; 
    top: 50%; margin-top: -26px;
}
.caption-type2{
    margin-top: -40px;
}
.caption-text .caption-meta{
    font-size: 0.93rem;
    line-height: 1.2;
    font-style: italic;
}
.caption-text .caption-title{
    font-size: 1.5625rem;
    line-height: 1.1;
    font-weight: bold;
    margin-top: 5px;
}
.caption-text .caption-title.font-kr{
    font-size: 1.4rem;
}


@media (min-width: 0px) and (max-width: 520px) {
    .main-content {
        margin-top: 150px;
    }
    .work-list-wrapper{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}
@media (min-width: 521px) and (max-width: 767px){
    .work-list-wrapper{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}
@media  (min-width: 1025px) {
    .main-content{
        padding: 0 6.25rem;
    }
    .work-list-wrapper{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        row-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}
